<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Clemente Palacios</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">

</head>
<body>
    <nav class="avbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Jorge Clemente Palacios</a>
        </div>
    </nav>


    <div class=" container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Contraseña</th>
                            <th>Funciones</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <%if(data){ %>
                            <% for (var i =0; i< data.length; i++){ %>
                                <tr>
                                    <td><%= (i+1) %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].last_name %></td>
                                    <td><%= data[i].password %></td>
                                </tr>
                            <%}%>    
                        <%}%>
                        
                    </tbody>
                </table>
            </div>
            <div class=" col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">Creacion de Docente</div>
                        <form action="/add" method="post">
                            <div class=" form-group">
                                <input type="text" name="name" placeholder="Ingrese Nombres" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" placeholder="Ingrese Apellidos" class="form-control mt-2">
                            </div>
                            <div class="form-group">
                                <input type="text" name="password" placeholder="Ingrese Contraseña" class="form-control mt-2">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">
                                Agregar profesor
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>